</html>
<footer>
    <ul>
        <li style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <img src="/logo.png" alt="" width="100px">
        </li>
        <li>
            Assign, a web application for managing your assignments.
        </li>
        <li>
            A teacher dashboard for effortlessly creating assignments and assigning them to students.
        </li>
        <li>
            A student dashboard for viewing and submitting assignments.
        </li>
        <li>
            Designed By: Pakhi Bisht (9I), Amity International School, Sector 46, Gurugram, Haryana
        </li>
        <li style="background-image: url('/ts.png'); background-size: contain; background-position: center; background-repeat: no-repeat; text-shadow: 2px 2px 2px black; font-size: 20px;">
            Web Development Entry, InTech'22 
        </li>
    </ul>
</footer>