
</html>

<footer>
    <ul>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati cum blanditiis?</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quia aliquid aspernatur delectus?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sit nihil!</li>
    </ul>
</footer>