<div class="loading">
    <img src="/logo.png" alt="" class="loadingImg">
    <div class="stacks">
        <div class="stack"></div>
        <div class="stack" style="animation-delay: 0.5s;"></div>
        <div class="stack" style="animation-delay: 1s;"></div>
        <div class="stack" style="animation-delay: 1.5s;"></div>
        <div class="stack" style="animation-delay: 2s;"></div>
    </div>
</div>