<nav style="position: relative;">
    <ul>
        <button onclick="location.href = '/'" style="margin: 10px 0px 10px 20px; padding: 0px; border: none; cursor: pointer; height: 50px;" id="logo-button">
            <img src="/logo.png" alt="" width="50px">
        </button>
        <% if (! isAuth ){ %>
        <li>
            <a href="/login-choose"><button class="nav-item">Login</button></a>
        </li>
        <% } %>
        <li>
            <a href="/signup"><button class="nav-item">Student Signup</button></a>
        </li>
        <li>
            <a href="/admin-signup"><button class="nav-item">Teacher Signup</button></a>
        </li>
        <li>
            <a href="/go-to-dashboard"><button class="nav-item">Dashboard</button></a>
        </li>
        <% if(isAuth) { %>
            <li>
                <a href="/logout"><button class="nav-item">Logout</button></a>
            </li>
        <% } %>
    </ul>
    <% if (isAuth) { %>
     
        <p style="margin-right: 20px; color: rgb(234, 171, 116)">
            <font style="font-size: 0.9rem; color: #F6F7F2;">Logged in as</font> <%= user.username %>
        </p>
    <% } %>
</nav>