<%- include(crdir+ '/views/partials/head') %>
<%- include(crdir+ '/views/partials/nav') %>
<body>
    <h1 class="heading-level-1">Teacher Signup</h1>
    <div class="container">
        <div class="left">
            <form method="post" action="/admin-signup">
                <label for="name">Name</label>
                <input type="text" placeholder="Enter Username" name="name" id="name" required>
                <label for="email">Email</label>
                <input type="email" placeholder="Enter Email" name="email" id="email" required>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
                <button type="submit" id="submit-button">Sign Up</button>
                <sup>&#9432; You may be redirected back to this page if details are incorrect/incomplete</sup>
                <p>Already have an admin account? <a href="/admin-login">Login</a>!</p>
            </form>
        </div>
        <div class="right" style="background-image: url(/header.jpg);"></div>
    </div>

</body>
<%- include(crdir+ '/views/partials/footer') %>