<%- include(crdir+ '/views/partials/head') %>
<%- include(crdir+ '/views/partials/nav') %>
<body>
    <button onclick="location.href='/create'">Create Assignment</button>
    <button onclick="location.href='/view-assignments'">View Assignments</button>
</body>
<%- include(crdir+ '/views/partials/footer') %>