<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loading.css">
    <link rel="stylesheet" href="general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/forms.css">
    <title>Home | <%= website %>
    </title>

</head>

<body>
    <div class="loading">
        <img src="/logo.png" alt="" class="loadingImg">
        <div class="stacks">
            <div class="stack"></div>
            <div class="stack" style="animation-delay: 0.5s;"></div>
            <div class="stack" style="animation-delay: 1s;"></div>
            <div class="stack" style="animation-delay: 1.5s;"></div>
            <div class="stack" style="animation-delay: 2s;"></div>
        </div>
    </div>
    <nav>

    </nav>

    <h1 class="heading-level-1">Login Page</h1>
    <div class="container">
        <div class="left">
            <form action="/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter Email" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
                <button id="submit-button">Login</button>
                <sup>&#9432; You may be redirected back to this page if credentials are incorrect</sup>
                <p>Don't have an account? <a href="/signup">Sign Up</a> for one!</p>
            </form>
        </div>
        <div class="right" style="background-image: url(/header2.jpg);"></div>
    </div>

    <div id="buttonDiv"></div>

    <script>
        onload = function () {
            setTimeout(function () {
                document.querySelector('.loading').style.display = 'none';
                document.querySelector('.main').style.display = 'block';
            });
        }
    </script>
</body>

</html>