<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
        content="193018264762-phcher1r856tke1nhgr7o3k8agq1ho0h.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loading.css">
    <link rel="stylesheet" href="general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client" async defer></script>    <title>Home | Assign</title>

    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 80vh;
            margin: 10px 200px;
        }

        .container .left {
            background-color: rgba(142, 21, 41, 0.315);
            width: 50%;
            height: 100%;
        }

        .container .right {
            background-color: rgb(142, 21, 41);
            width: 50%;
            height: 100%;
            overflow: hidden;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        form input {
            width: 60%;
            height: 50px;
            border: none;
            border-bottom: 1px solid black;
            margin: 1% 10%;
            background-color: rgba(255, 255, 255, 0.216);
            padding-left: 20px;
            font-size: 16px;
        }

        #submit-button {
            background-color: rgb(142, 21, 41);
            width: 60%;
            height: 50px;
            margin: 10%;
            border: none;
            color: white;
            font-size: 17px;
            cursor: pointer;
        }

        #imageLogin {
            height: 80vh;
        }
    </style>
</head>

<body>
    <div class="loading">
        <img src="/logo.png" alt="" class="loadingImg">
        <div class="stacks">
            <div class="stack"></div>
            <div class="stack" style="animation-delay: 0.5s;"></div>
            <div class="stack" style="animation-delay: 1s;"></div>
            <div class="stack" style="animation-delay: 1.5s;"></div>
            <div class="stack" style="animation-delay: 2s;"></div>
        </div>
    </div>
    <div class="main" style="display: none;">
        <nav>

        </nav>
        <h1 style="font-family: nunito; font-size: 3rem; text-align: center; color:rgb(142, 21, 41);">Sign Up</h1>
        <div class="container">
            <div class="left">
                <form method="post" action="/signup">
                    <input type="text" placeholder="Enter Username" name="name" id="name">
                    <input type="email" placeholder="Enter Email" autocomplete="email" name="email" id="email">
                    <input type="password" placeholder="Enter Password" name="password" id="password">
                    <button type="submit" id="submit-button">Sign Up</button>
                </form>
            </div>
            <div class="right">
                <img src="/header_index.jpg" alt="" id="imageLogin">
            </div>
        </div>
        <footer>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa quam corrupti inventore, iste rerum omnis
            praesentium error recusandae? Eveniet autem unde excepturi molestiae expedita veniam architecto mollitia
            labore veritatis eius!
        </footer>
        <div id="g_id_onload"
         data-client_id="193018264762-phcher1r856tke1nhgr7o3k8agq1ho0h.apps.googleusercontent.com"
         data-login_uri="https://assign-app-bisht.herokuapp.com/">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>
    </div>

    <div id="buttonDiv"></div> 

    <script>
        onload = function () {
            setTimeout(function () {
                document.querySelector('.loading').style.display = 'none';
                document.querySelector('.main').style.display = 'block';
            }, 2000);
        }
        </script>
</body>

</html>