<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loading.css">
    <title>Loading | Assign</title>
</head>
<body>
    <div class="loading">
        <img src="/logo.png" alt="" class="loadingImg">
        <div class="stacks">
            <div class="stack"></div>
            <div class="stack" style="animation-delay: 0.5s;"></div>
            <div class="stack" style="animation-delay: 1s;"></div>
            <div class="stack" style="animation-delay: 1.5s;"></div>
            <div class="stack" style="animation-delay: 2s;"></div>
        </div>
    </div>
</body>
</html>