<%- include(crdir+ '/views/partials/head' ) %>
    <%- include(crdir+ '/views/partials/nav' ) %>
        <style>
            #submit-button {
                padding: 20px;
                height: fit-content;
                width: fit-content;
                font-family: work sans;
                letter-spacing: 2px;
                margin-bottom: 0px;
            }
            form {
                height: fit-content;
                width: fit-content;
                border-bottom: 2px white solid;
                padding-left: 90px;
                padding-right: 90px;
            }
            .left{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        </style>
        <body>
            <div class="container">
                <div class="left">
                    <form action="/" method="get">
                        <button type="submit" id="submit-button">Login as Student</button>
                        <p>Don't have a student account? <a href="/signup">Sign Up</a> for one!</p>

                    </form>
                    <form action="/admin-login" method="get">
                        <button type="submit" id="submit-button">Login as Teacher</button>
                        <p>Don't have a teacher account? <a href="/admin-signup">Sign Up</a> for one!</p>

                    </form>
                </div>
                <div class="right" style="background-image: url('loginchoose.jpg');">
                </div>
            </div>
        </body>
        <%- include(crdir+ '/views/partials/footer' ) %>