<%- include(crdir+ '/views/partials/head') %>
<%- include(crdir+ '/views/partials/nav') %>
<body>
    <button onclick="location.href = '/'">Login as Student</button>
    <button onclick="location.href = '/admin-login'">Login as Teacher</button>
</body>
<%- include(crdir+ '/views/partials/footer') %>