<%- include(crdir+ '/views/partials/head') %>
<%- include(crdir+ '/views/partials/nav') %>
<body>
    <H1>DASHBOARD!</H1>
    <p>You are logged in successfully</p>
    <form action="/logout" method="POST">
        <button>LOGOUTTTT</button>
    </form>
</body>
<%- include(crdir+ '/views/partials/footer') %>