.assignment {
    font-family: inter;
    margin: 50px;
    color: RGB(246, 247, 242);
}

.assignment-head {
    padding: 50px;
    background-color: rgba(246, 247, 242, 0.492);
}

.assignment-body {
    padding: 50px;
    background-color: RGB(57, 59, 98);
}

.title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-row-item {
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 2px;
    font-size: 0.78rem;
}