.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 10px 200px;
}

.container .left {
    background-color: rgba(142, 21, 41, 0.315);
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.container .right {
    background-color: rgb(142, 21, 41);
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form input {
    width: 50vh;
    height: 50px;
    border: none;
    margin: 2% 10%;
    background-color: #F6F7F2;
    opacity: 53%;
    font-size: 16px;
    border-radius: 30px;
    text-align: center;
    transition-duration: 0.1s;
    font-family: inter;
}

form textarea{
    transition-duration: 0.1s;
}

form input:focus, form textarea:focus{
    opacity: 100%;
    outline-color: #EAAB74;
    outline-width: 4px;
    outline-style: solid;
    background-color: RGB(246, 247, 242);
}

#submit-button {
    margin: 2% 6%;
    background-color: #EAAB74;
    width: 30%;
    border-radius: 30px;
    height: 50px;
    border: none;
    font-weight: 500;
    color: rgb  (15, 13, 53);
    font-size: 20px;
    cursor: pointer;
    font-family: inter;
}
form label{
    margin-top: 20px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}