body {
    scroll-behavior: smooth;
    font-family: inter;
    margin: 0px;
    padding: 0px;
    background-color: #0f0d35;
}

html{
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #41376B;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 60vh;
    color: rgb(142, 53, 68);
    background-color: grey;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

}

header h1 {
    margin: 0px;
    font-family: Nunito;
    padding: 30px;
    font-size: 4rem;
}

.heading-level-1 {
    font-family: helvetica;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    color: rgb(234, 171, 116);
    margin-bottom: 10px;
}
.heading-level-2 {
    font-weight: 100;
    font-family: helvetica;
    font-size: 2.5rem;
    text-align: center;
    color: #F6F7F2;
    margin: 0px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;

    width: fit-content;
}

nav ul li {
    padding: 5px 20px;
    height: 100%;
    margin: 10px 0px 10px 20px;
}

.nav-item {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li:hover, nav ul li a:hover, nav ul li a button:hover {
    cursor: pointer;
    color: #0f0d35;
}

footer {
    background-color: #41376B;
    bottom: 0;
    position: fixed;
    bottom: -110px;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 5;
}

@keyframes footerUp {
    100%{
        bottom: 0;
    }
}

footer:hover{
    animation: footerUp 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

footer ul {
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li {
    padding: 10px 0px;
    flex: 1;
}

#logo-button:hover {
    opacity: 70%;
}